.DS_Store
src/generated/main/grpc/com/gopay/*
src/generated/main/java/com/gopay/*

build/
out/
.idea/
*.iml
*.class
target/
.gradle/
dump.rdb
generated-test-sources/
classes/
.classpath
.project
.settings/*
bin/*
pt.proto
GenerateProtoDescGJ.java
AllocatePointsTokenRequest.java
AllocatePointsTokenRequestBuilder.java
*.desc